@import './common.css';


#footer{
    background-image: linear-gradient(60deg,#29323c 0%,#485563 40%);
    margin-top: 50px;
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 0.25rem;
}
#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
    /* max-width: 130px; */
    /* height: auto; */
    /* opacity: .4; */
}
#footer .social-item {
    height: 40px;
    width: 40px;
    margin: 0 5px;
}
#footer .social-item a{
    filter: grayscale(.6);
    transition: .3s ease-in-out filter;
}
#footer .social-item a:hover{
    filter: grayscale(0);
}

#footer .footer p{
    color: white;
}