@import './common.css';

#header{
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    /* background-color: cyan; */
}

#header .header{
    min-height: 8vh;
    background-color: rgba(31,30,30,0.24);
    /* background-color: red; */
    transition: .5s ease background-color;
}

#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color:rgba(31,30,30);
    width: 100vw;
    height: 100vh;
    left:0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transition: .7s ease-in-out left ;
}

#header .nav-list  ul.active{
    left: 150%;
    /* top: -1000%; */
}

#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    /* color: rgba(255, 255, 255, 0.021); */
    color: rgba(148, 144, 144, 0.219) ;
    /* color: yellow; */
    /* opacity: .5; */
    font-size: 12rem;
    letter-spacing: 10px;
    z-index: -1;
    transition: 1s ease-in-out letter-spacing tranform;
}

#header .nav-list ul  li:hover a::after{
    transform: translate(-50%,-50%) scale(1);
}
#header .nav-list ul  li:hover a{
    color: lightgreen;
}

#header .hamburger{
    height: 40px;
    width: 40px;
    display: inline-block;
    border: 3px solid white;
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    cursor: pointer;
    margin-top:10px;
    margin-bottom: 10px;
    /* background: red; */
}
#header .hamburger .bar{
    height: 2px;
    width: 20px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: " ";
    position: absolute;
    height:100%;
    width:100%;
    left: 0;
    background-color:white;
    transition: .3s ease;
    transition-property : top,bottom;
}

#header .hamburger .bar::after{
    top: 0px;
}

#header .hamburger .bar::before{
    bottom: 0px;
}

#header .hamburger.active .bar::before{
    bottom: 8px;
    /* height: 10px;
    background: red; */
}
#header .hamburger.active .bar::after{
    top: 8px;
} 

